---
import Modal from "@/components/Modal.astro";
import { fileService } from "@/services";
import type { File } from "@/services/types";
import { getUser } from "@/utils/auth";

const modalId = "move-modal";
const closeButtonId = "close-modal";

const user = getUser(Astro.cookies);

if (!user) {
  console.error("User not found");
  return Astro.redirect("/");
}

const { folderId } = Astro.params;

let files: File[] | null = null;

try {
  files = await fileService.getFiles(user.id);
} catch (error) {
  console.error(error);
}
---

<Modal modalId={modalId} closeButtonId={closeButtonId}>
  <div class="modal-body">
    {!files && <h2>No files</h2>}

    <a
      href={`/folder/${folderId}/file/new`}
      style="display: block; margin-bottom: 2rem;">Create a new file</a
    >

    <h2 style="font-size: large; font-weight: normal;">Copy existing files:</h2>
    {
      files && (
        <form
          class="move-form"
          hx-post={`/folder/${folderId}/move/files.json`}
          target={`#${modalId}`}
        >
          <div style="margin-bottom: 1rem;">
            {files.map((file) => (
              <div class="checkbox-row">
                <input
                  class="move-checkbox"
                  type="checkbox"
                  id={file.id.toString()}
                  name="fileIds"
                  value={file.id}
                />
                <label for={file.id.toString()}>{file.name}</label>
              </div>
            ))}
          </div>

          <button class="primary-button" type="submit">
            Move
          </button>
        </form>
      )
    }
  </div>
</Modal>

<style is:inline>
  .modal-body {
    padding: 0 3rem;
  }

  .move-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
  }

  label {
    margin-left: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
  }

  .move-checkbox:checked + label {
    font-weight: bold;
  }

  label,
  .move-checkbox {
    cursor: pointer;
  }

  .move-checkbox {
    margin-bottom: 1rem;
    transform: scale(1.5);
  }

  .checkbox-row {
    display: flex;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .modal-body {
      padding: 0;
    }
  }
</style>
