---
import type { File } from "@/services/types";

interface Props {
  files: File[];
  folderId?: number;
}

const { files, folderId } = Astro.props;
---

<ul id="file-list">
  {
    files.map((file) => (
      <li class="file-row">
        <div class="file-name">
          <a href={`/file/${file.id}`}>{file.name}</a>
        </div>

        <div style={{ display: "flex" }}>
          <button
            hx-get={`/move/file/${file.id}`}
            hx-target="#modal-container"
            hx-swap="innerHTML"
          >
            Move
          </button>
          <div id="modal-container" />

          <button
            style={{ marginLeft: "0.5rem" }}
            hx-delete={
              folderId
                ? `/folder/${folderId}/file/${file.id}.json`
                : `/file/${file.id}/delete.json`
            }
          >
            Delete
          </button>
        </div>
      </li>
    ))
  }
</ul>

<style>
  #file-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 0.25fr));
    grid-gap: 1rem;
  }

  .file-row {
    display: flex;
    justify-content: space-between;
    background-color: var(--card-background);
    box-shadow: var(--shadow);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    list-style: none;
  }

  .file-name {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
