---
import ButtonMenu from "./ButtonMenu.astro";

interface Props {
  folderId: number;
  folderName: string;
  isEditing?: boolean;
}

const { folderId, folderName, isEditing } = Astro.props;
---

{
  isEditing && (
    <li
      hx-trigger="cancel"
      hx-get={`/folder/${folderId}`}
      class="edit-folder-row"
    >
      <form hx-put={`/folder/${folderId}/update`} hx-include="closest li">
        <input
          type="text"
          id="folder-name"
          name="folderName"
          value={folderName}
          aria-label="Folder name"
          autofocus
          onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
        />

        <button
          class="cancel-button"
          hx-get={`/folder/${folderId}/row`}
          type="button"
          title="Cancel"
        >
          <span>&times;</span>
        </button>

        <button class="save-button" type="submit" title="Save folder name">
          <span>✅</span>
        </button>
      </form>
    </li>
  )
}

{
  !isEditing && (
    <li id={`folder-${folderId}-row`} hx-swap="outerHTML" class="folder-row">
      <a href={`/folder/${folderId}`}>{folderName}</a>

      <ButtonMenu
        id={`folder-${folderId}-menu`}
        items={[
          {
            label: "Edit",
            url: `/folder/${folderId}/edit`,
            verb: "GET",
            target: `#folder-${folderId}-row`,
          },
          {
            label: "Delete",
            url: `/folder/${folderId}/delete`,
            verb: "DELETE",
            target: "#folder-list",
          },
        ]}
      />
    </li>
  )
}

<style>
  .folder-row,
  .edit-folder-row {
    display: flex;
    align-items: center;
    background-color: var(--card-background);
    box-shadow: var(--shadow);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    list-style: none;
  }

  .folder-row {
    justify-content: space-between;
  }

  .edit-folder-row form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .save-button {
    font-size: larger;
  }

  .cancel-button span {
    position: relative;
    top: -0.1rem;
    font-size: 2rem;
  }

  .cancel-button,
  .save-button {
    background-color: transparent;
    border: none;
    margin-left: 0.25rem;
    width: 45px;
    height: 45px;
  }

  .edit-folder-row label {
    margin-right: 0.5rem;
  }

  .edit-folder-row input {
    flex: 1;
    min-width: 0;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .folder-row {
      width: 100%;
      padding-right: 0.5rem;
    }
  }
</style>
