---
interface Props {
  folderId: number;
  folderName: string;
  isEditing?: boolean;
}

const { folderId, folderName, isEditing } = Astro.props;
---

{
  isEditing && (
    <li
      hx-trigger="cancel"
      hx-get={`/folder/${folderId}`}
      class="edit-folder-row"
    >
      <label for="folder-name">Folder name</label>
      <input
        type="text"
        id="folder-name"
        name="folderName"
        value={folderName}
      />

      <button hx-get={`/folder/${folderId}/row`}>Cancel</button>

      <button hx-put={`/folder/${folderId}/update`} hx-include="closest li">
        Save
      </button>
    </li>
  )
}

{
  !isEditing && (
    <li hx-swap="outerHTML" class="folder-row">
      <a href={`/folder/${folderId}`}>{folderName}</a>

      <div>
        <button
          class="edit-button"
          hx-target="closest li"
          hx-get={`/folder/${folderId}/edit`}
        >
          Edit
        </button>
        <button
          hx-target="closest ul"
          hx-delete={`/folder/${folderId}/delete`}
          style="margin-left: 0.5rem"
        >
          Delete
        </button>
      </div>
    </li>
  )
}

<style>
  .folder-row,
  .edit-folder-row {
    display: flex;
    justify-content: space-between;
    background-color: var(--card-background);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    list-style: none;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .folder-row {
      width: 100%;
    }

    .edit-button {
      display: none;
    }
  }
</style>
