---
import FileList from "@/components/FileList.astro";
import Layout from "@/layouts/Layout.astro";
import { folderService } from "@/services";
import type { File, Folder } from "@/services/types";
import { getUser } from "@/utils/auth";

const { folderId } = Astro.params;

const folderIdNum = Number(folderId);

const user = getUser(Astro.cookies);

if (!user) {
  console.error("User not found");
  return Astro.redirect("/");
}

let folder: Folder | null = null;
let files: File[] | null = [];

if (!folderIdNum || Number.isNaN(folderIdNum)) {
  console.error("Invalid folder ID");
  return Astro.redirect("/");
}

const data = await Promise.all([
  folderService.getFolder(folderIdNum, user.id),
  folderService.getFiles(folderIdNum, user.id),
]);

folder = data[0];
files = data[1];

const fileCount = files?.length ? `(${files.length})` : "";
---

<Layout title="Folder | PingMe">
  {!folder && <h2>Folder not found</h2>}

  {
    folder && (
      <div class="folder-page">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
          <h2 style="margin-right: 2rem;">{folder.name}</h2>
          <div>
            <button
              class="notification-preference-button"
              hx-get={`/folder/${folderId}/notification-modal`}
              hx-target="#modal-container"
              hx-swap="innerHTML"
              title="Notification preferences"
              aria-label="Notification preferences"
            >
              <span>🛎️</span>
            </button>
          </div>
        </div>

        <section>
          <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
              <span style="font-size: xx-large; margin-right: 1rem">📝</span>
              <h3>
                Files <span class="file-count">{fileCount}</span>
              </h3>
            </div>

            <button
              class="add-files-button"
              hx-get={`/folder/${folderId}/move/files`}
              hx-target="#modal"
              hx-swap="innerHTML"
              title="Add files"
              aria-label="Add files"
            >
              <span>➕</span>
            </button>
          </div>
          <div id="modal" />

          {!!files?.length && files.length > 2 && (
            <div class="random-file-container">
              <button
                class="primary-button"
                hx-get={`/folder/${folder?.id}/file/random`}
                hx-target="#random-file-name"
                hx-swap="innerHTML"
              >
                Get random file
              </button>

              <div id="random-file-name" />
            </div>
          )}

          {!!files?.length && <FileList files={files} folderId={folder?.id} />}
        </section>
      </div>
    )
  }
</Layout>

<style>
  section {
    background-color: var(--section-background);
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow);
  }

  .random-file-container {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
  }

  #random-file-name {
    margin-left: 1rem;
  }

  .random-file-container button {
    min-width: fit-content;
  }

  h2,
  h3 {
    color: var(--black);
  }

  .folder-page {
    margin: 0 auto;
    max-width: 700px;
    padding: 1rem;
    padding-top: 0;
  }

  .add-files-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
  }

  .add-files-button span {
    font-size: 2rem;
  }

  .notification-preference-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
  }

  .notification-preference-button span {
    font-size: 2rem;
  }

  .file-count {
    font-size: 16px;
    color: var(--gray);
    vertical-align: super;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .random-file-container {
      flex-direction: column;
      justify-content: space-between;
    }

    .random-file-container button {
      margin-bottom: 1rem;
    }

    #random-file-name {
      margin-left: 0;
    }
  }
</style>
